.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  &__image {
    width: 225px;
  }
  &__title {
    font-size: 18px;
    font-weight: bold;
    padding: 20px 5px;
    text-align: center;
  }
  &__description {
    font-family: $second-font;
    font-weight: 300;
    text-align: center;
  }
}
