$main-font: "Saira Condensed", sans-serif;
$second-font: "Saira", sans-serif;

//Background color
$main-background-color: #29a6dc;

//Button
$button-background-color: #29a6dc;

//Responsive
$breakpoints: (
  xsmall: (
    min-width: 460px,
  ),
  small: (
    min-width: 568px,
  ),
  medium: (
    min-width: 800px,
  ),
  large: (
    min-width: 1024px,
  ),
  xlarge: (
    min-width: 1200px,
  ),
  xxlarge: (
    min-width: 1440px,
  ),
  xxxlarge: (
    min-width: 1600px,
  ),
);
